.main {
  background-color: #EBEBE9;
}

.main__wrapper {
  position: relative;
}

.main__logo {
  position: relative;
  left: -222px;
  bottom: 0px;
  z-index: 10;
}

.main__title {
  position: absolute;
  bottom: 377px;
  left: 219px;
  font-size: 160px;
  font-family: Arial-Black, sans-serif;
  letter-spacing: 8px;
  color: #CFCFCD
}

.main__description {
  position: absolute;
  left: 782px;
  top: 498px;
  display: flex;
  flex-direction: column;
  max-width: 587px;
  gap: 14px;
  align-items: start;
}

.description__text {
  font-size: 20px;
  font-family: Roboto-Medium, sans-serif;
  letter-spacing: 2px;
  color: #000000;
}

.description__button {
  padding: 11px 32px;
  color: #292929;
  font-size: 20px;
  font-family: Roboto-Medium, sans-serif;
  letter-spacing: 2px;
}

.description__button:hover {
  color: #FF8340;
}

.description__button:active {
  color: #843500;
}