* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 1440px) {
  .container {
    padding: 0 32px;
  }
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Arial-Black";
  src: url("../fonts/Arial-Black.eot");
  src: url("../fonts/Arial-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Arial-Black.woff") format("woff"), url("../fonts/Arial-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.header {
  background: linear-gradient(1800deg, #ebebe9 0%, #ededeb 100%);
  padding: 30px 0 10px 0;
}
@media screen and (max-width: 952px) {
  .header {
    padding: 16px 0 0 0;
  }
}
@media screen and (max-width: 952px) {
  .header__img {
    max-width: 111px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
}
.header__navigation .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #292929;
  border-radius: 4px;
}
.header__navigation .hamburger__btn {
  position: relative;
  display: inline-block;
  height: 3px;
  width: 22px;
  background-color: #292929;
}
.header__navigation .hamburger__btn::before {
  position: absolute;
  right: 0px;
  content: "";
  height: 3px;
  width: 22px;
  bottom: 7px;
  background-color: #292929;
}
.header__navigation .hamburger__btn::after {
  position: absolute;
  left: 0px;
  content: "";
  height: 3px;
  width: 22px;
  top: 7px;
  background-color: #292929;
}
@media screen and (min-width: 953px) {
  .header__navigation .hamburger {
    display: none;
  }
}
.header__navigation-item {
  color: #292929;
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
  padding: 11px clamp(0px, 2vw, 32px);
  transition: 0.5s;
}
@media screen and (max-width: 952px) {
  .header__navigation-item {
    display: none;
  }
}
.header__navigation-item:hover {
  color: #ff8340;
}
.header__navigation-item:active {
  color: #843500;
}

.main {
  background-color: #ebebe9;
}
.main__wrapper {
  position: relative;
  padding-top: 82px;
}
@media screen and (max-width: 952px) {
  .main__wrapper {
    padding-top: 0px;
  }
}
.main__logo {
  position: absolute;
  left: -222px;
  bottom: 0px;
  z-index: 10;
}
@media screen and (max-width: 952px) {
  .main__logo {
    left: 0;
  }
}
.main__title {
  position: relative;
  padding-left: clamp(97px, 12vw, 219px);
  font-size: clamp(100px, 9vw, 160px);
  font-family: Arial-Black, sans-serif;
  letter-spacing: 8px;
  color: #cfcfcd;
}
@media screen and (max-width: 952px) {
  .main__title {
    top: 97px;
  }
}
.main__description {
  position: relative;
  padding-bottom: clamp(0px, 9vw, 128px);
  right: 35px;
  top: -82px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  max-width: 587px;
  gap: 14px;
  align-items: start;
}
@media screen and (max-width: 1440px) {
  .main__description {
    max-width: 363px;
  }
}
@media screen and (max-width: 952px) {
  .main__description {
    padding-bottom: 0;
    top: 0;
  }
}
.main__description-inner {
  font-size: 20px;
  font-family: Roboto-Medium, sans-serif;
  letter-spacing: 2px;
  color: #000000;
}
.main__description-button {
  padding: 11px 32px;
  color: #292929;
  font-size: 20px;
  font-family: Roboto-Medium, sans-serif;
  letter-spacing: 2px;
}
.main__description-button:hover {
  color: #ff8340;
}
.main__description-button:active {
  color: #843500;
}

.art-wrapper {
  position: relative;
}
.art-wrapper .art__title {
  font-family: Arial-Black, sans-serif;
  font-size: clamp(60px, 5vw, 80px);
  position: relative;
  z-index: 100;
  padding-top: 169px;
  line-height: 90px;
}
@media screen and (max-width: 952px) {
  .art-wrapper .art__title {
    padding-top: 0px;
    top: 54px;
    line-height: 70px;
  }
}
.art-wrapper .art__description {
  position: relative;
  z-index: 50;
  left: 206px;
  top: -277px;
  border: 6px solid #ff8340;
  padding: 335px 27px 46px 25px;
  max-width: 562px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}
@media screen and (max-width: 952px) {
  .art-wrapper .art__description {
    padding: 276px 39px 14px 26px;
    gap: 36px;
    left: 86px;
    top: -194px;
    max-width: 504px;
  }
}
.art-wrapper .art__description-inner {
  font-size: 20px;
  font-family: Roboto-Medium, sans-serif;
  letter-spacing: 2px;
  color: #000000;
}
.art-wrapper .art__description-button {
  padding: 11px 32px;
  color: #292929;
  font-size: 20px;
  font-family: Roboto-Medium, sans-serif;
  letter-spacing: 2px;
}
.art-wrapper .art__description-button:hover {
  color: #ff8340;
}
.art-wrapper .art__description-button:active {
  color: #843500;
}
.art-wrapper .art__logo {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.direction {
  background-color: #292929;
  padding: clamp(53px, 7vw, 124px) 0 clamp(53px, 5vw, 81px) 0;
  /*   @media screen and (max-width: 952px) {
      padding: 53px 0;
    } */
}
.direction-wrapper {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
@media screen and (max-width: 952px) {
  .direction-wrapper {
    gap: 28px;
  }
}
.direction-wrapper__title {
  color: #ffffff;
  font-family: Arial-Black, sans-serif;
  font-size: clamp(50px, 5vw, 80px);
  line-height: clamp(60px, 9vw, 160px);
  letter-spacing: 4px;
}
@media screen and (max-width: 952px) {
  .direction-wrapper__title {
    line-height: 85px;
    letter-spacing: 3px;
  }
}
.direction-wrapper__inner {
  color: #ffffff;
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 23px;
}

.feedback {
  background-color: #ff8340;
}
.feedback-wrapper__title {
  font-family: Arial-Black, sans-serif;
  font-size: clamp(32px, 3vw, 45px);
  line-height: clamp(32px, 9vw, 160px);
  letter-spacing: 2px;
  text-align: center;
}
.feedback-wrapper__line {
  width: 64px;
  height: 6px;
  background-color: #292929;
  margin: 0 auto;
}
.feedback-wrapper__description {
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 50px;
}
.feedback .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: clamp(20px, 2vw, 40px) 0;
  font-family: Roboto-Medium, sans-serif;
  padding: 40px 0 clamp(32px, 10vw, 176px);
}
.feedback .form__select {
  background-color: #292929;
  color: #ffffff;
  width: 49%;
  padding: 18px 0 17px 34px;
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
.feedback .form .input {
  width: 49%;
  padding: 18px 0 17px 34px;
  color: #292929;
  border: 2px solid #cfcfcd;
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
.feedback .form .input::placeholder {
  color: #b0b0b0;
}
.feedback .form__comment {
  width: 100%;
  padding: 18px 0 17px 34px;
  resize: none;
  height: 198px;
  border: 2px solid #cfcfcd;
  color: #292929;
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
.feedback .form__comment::placeholder {
  color: #b0b0b0;
}
.feedback .form__submit {
  border: none;
  background-color: transparent;
  font-family: r Roboto-Medium, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #292929;
  transition: 0.5s;
  margin-left: auto;
}
.feedback .form__submit:hover {
  color: #ffffff;
  cursor: pointer;
}
.feedback .form__submit:active {
  color: #843500;
}

.system {
  display: grid;
  grid-template-areas: "header logo" "list logo";
}
.system-header {
  grid-area: header;
  padding: 124px 76px 41px 260px;
}
.system-header__title {
  font-family: Arial-Black, sans-serif;
  font-size: 80px;
  line-height: 160px;
  padding-bottom: 34px;
  letter-spacing: 4px;
}
.system-header__description {
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 23px;
}
.system-list {
  grid-area: list;
  display: flex;
}
.system-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 38px 34px 18px;
  text-align: center;
  background-color: #FBFBFB;
}
.system-list__item-title {
  font-family: Arial-Black, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}
.system-list__item-description {
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}
.system-logo {
  grid-area: logo;
}

.subscription__wrapper-title {
  font-family: Arial-Black, sans-serif;
  font-size: clamp(60px, 5vw, 80px);
  color: #292929;
  line-height: 90px;
  padding: clamp(53px, 7vw, 140px) 0 53px 0;
}

.card {
  display: flex;
  gap: 40px;
  padding: 24px 0 34px 0;
  flex-wrap: nowrap;
}
@media screen and (max-width: 1400px) {
  .card {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
  }
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 24%;
  text-align: center;
  border: 6px solid #292929;
  padding: 69px 38px 32px 38px;
  transition: 1s;
}
@media screen and (max-width: 1400px) {
  .card-item {
    max-width: 100%;
    flex-direction: row;
    padding: 60px 56px 60px 44px;
    justify-content: space-between;
  }
}
.card-item:hover {
  border-color: #ff8340;
  transform: scale(1.11);
}
@media screen and (max-width: 1400px) {
  .card-item:hover {
    transform: scale(1.02);
  }
}
.card-item__size {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.card-item__size-number {
  width: 76px;
  height: 76px;
  font-family: Arial-Black, sans-serif;
  font-size: 40px;
  color: #000000;
  border: 4px solid #292929;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-item__size-month {
  font-family: Arial-Black, sans-serif;
  font-size: 20px;
  color: #292929;
}
.card-item__description {
  font-family: Roboto-Medium, sans-serif;
  font-size: clamp(16px, 1vw, 20px);
  letter-spacing: 2px;
  padding: 74px 0 36px 0;
  line-height: 23px;
}
@media screen and (max-width: 1400px) {
  .card-item__description {
    max-width: 306px;
    padding: 0;
  }
}
.card-item__pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.card-item__pay-price {
  font-family: Arial-Black, sans-serif;
  font-size: clamp(42px, 3vw, 45px);
  letter-spacing: 2px;
}
.card-item__pay-button {
  font-family: Roboto-Medium, sans-serif;
  font-size: 20px;
  padding: 11px 0;
}
.card-item__pay-button:hover {
  color: #ff8340;
}
.card-item__pay-button:active {
  color: #843500;
}/*# sourceMappingURL=style.css.map */