.subscription__wrapper-title {
  font-family: $font_arial;
  font-size: clamp(60px, 5vw, 80px);
  color: $color_graphite;
  line-height: 90px;
  padding: 140px 0 53px 0;
}

.card {
  display: flex;
  gap: 40px;
  padding: 24px 0 34px 0;
  flex-wrap: nowrap;

  @media screen and (max-width: 1400px) {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 24%;
    text-align: center;
    border: 6px solid $color_graphite;
    padding: 69px 38px 32px 38px;
    transition: 1s;

    @media screen and (max-width: 1400px) {
      max-width: 100%;
      flex-direction: row;
      padding: 60px 56px 60px 44px;
      justify-content: space-between;
    }

    &:hover {
      border-color: $color_orange;
      transform: scale(1.11);

      @media screen and (max-width: 1400px) {
        transform: scale(1.02);
      }
    }

    &__size {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      &-number {
        width: 76px;
        height: 76px;
        font-family: $font_arial;
        font-size: 40px;
        color: #000000;
        border: 4px solid $color_graphite;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-month {
        font-family: $font_arial;
        font-size: 20px;
        color: $color_graphite;
      }
    }
    &__description {
      font-family: $font_roboto;
      font-size: clamp(16px, 1vw, 20px);
      letter-spacing: 2px;
      padding: 74px 0 36px 0;
      line-height: 23px;

      @media screen and (max-width: 1400px) {
        max-width: 306px;
        padding: 0;
      }
    }
    &__pay {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      &-price {
        font-family: $font_arial;
        font-size: clamp(42px, 3vw, 45px);
        letter-spacing: 2px;
      }
      &-button {
        font-family: $font_roboto;
        font-size: 20px;
        padding: 11px 0;

        &:hover {
          color: $color_orange;
        }

        &:active {
          color: $color_brown;
        }
      }
    }
  }
}
