.art-wrapper {
  position: relative;
  padding-top: 973px;

  @media screen and (max-width: 952px) {
    padding-top: 817px;
  }

  .art__title {
    font-family: $font_arial;
    font-size: clamp(60px, 5vw, 80px);
    position: absolute;
    z-index: 100;
    top: 169px;
    line-height: 90px;

    @media screen and (max-width: 952px) {
      top: 54px;
      line-height: 70px;
    }

  }
  .art__description {
    position: absolute;
    z-index: 50;
    left: 206px;
    top: 72px;
    border: 6px solid $color_hover;
    padding: 335px 27px 46px 25px;
    max-width: 562px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 14px;

    @media screen and (max-width: 952px) {
      padding: 276px 39px 14px 26px;
      gap: 36px;
      left: 86px;
      top: 16px;
      max-width: 504px;
    }

    &-inner {
      font-size: $font_size_low;
      font-family: $font_roboto;
      letter-spacing: 2px;
      color: #000000;
    }

    &-button {
      padding: 11px 32px;
      color: $color_default;
      font-size: $font_size_low;
      font-family: $font_roboto;
      letter-spacing: 2px;

      &:hover {
        color: $color_hover;
      }

      &:active {
        color: $color_active;
      }
    }
  }
  .art__logo {
    position: absolute;
    bottom: 0px;
    left: 602px;

    @media screen and (max-width: 952px){
      max-width: 596px;
      left: 326px;
    }
  }
}