.container {
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (max-width:1440px) {
    // max-width: clamp(890px, 90vw, 1400px);
    padding: 0 32px;
  }
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}