.main {
  background-color: #ebebe9;

  &__wrapper {
    position: relative;
    padding-top: 82px;

    @media screen and (max-width: 952px) {
      padding-top: 0px;
    }
  }

  &__logo {
    position: absolute;
    left: -222px;
    bottom: 0px;
    z-index: 10;

    @media screen and (max-width: 952px) {
      left: 0;
    }
  }

  &__title {
    position: relative;
    padding-left: clamp(97px, 12vw, 219px);
    font-size: clamp(100px, 9vw, 160px);
    font-family: $font_arial;
    letter-spacing: 8px;
    color: #cfcfcd;

    @media screen and (max-width: 952px) {
      top: 97px;
    }
  }

  &__description {
    position: relative;
    padding-bottom: clamp(0px, 9vw, 128px);
    right: 35px;
    top: -82px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    max-width: 587px;
    gap: 14px;
    align-items: start;

    @media screen and (max-width: 1440px) {
      max-width: 363px;
    }

    @media screen and (max-width: 952px) {
      padding-bottom: 0;
      top: 0;
    }

    &-inner {
      font-size: $font_size_low;
      font-family: $font_roboto;
      letter-spacing: 2px;
      color: #000000;
    }

    &-button {
      padding: 11px 32px;
      color: $color_default;
      font-size: $font_size_low;
      font-family: $font_roboto;
      letter-spacing: 2px;

      &:hover {
        color: $color_hover;
      }

      &:active {
        color: $color_active;
      }
    }
  }
}
