.system {
  display: grid;
  grid-template-areas:
    'header logo'
    'list logo';

  @media screen and (max-width: 1300px) {
    grid-template-areas:
      'header logo'
      'list list'
      'list list';
  }

  &-header {
    grid-area: header;
    padding: clamp(40px, 7vw, 124px) 76px clamp(0px, 3vw, 41px)
      clamp(32px, 14vw, 260px);
    @media screen and (max-width: 1533px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0 0 0 32px;
    }

    @media screen and (max-width: 1100px) {
      justify-content: center;
    }
    &__title {
      font-family: $font_arial;
      font-size: clamp(60px, 5vw, 80px);
      line-height: 160px;
      padding-bottom: 34px;
      letter-spacing: 4px;
    }

    &__description {
      font-family: $font_roboto;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 23px;
    }
  }

  &-list {
    grid-area: list;
    display: flex;
    justify-content: space-between;
    background-color: #fbfbfb;

    @media screen and (max-width: 1100px) {
      flex-wrap: wrap;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 38px 34px 18px;
      text-align: center;
      @media screen and (max-width: 1720px) {
        padding: 0;
      }

      @media screen and (max-width: 1300px) {
        padding: 38px 0 58px 0;
        gap: 52px;
      }

      &-title {
        font-family: $font_arial;
        font-size: 20px;
        letter-spacing: 1px;
      }

      &-description {
        font-family: $font_roboto;
        font-size: 20px;
        letter-spacing: 2px;
      }
    }

    .item_1 {
      @media screen and (max-width: 1100px) {
        width: 49%;
      }
    }

    .item_2 {
      @media screen and (max-width: 1100px) {
        width: 49%;
      }
    }

    .item_3 {
      @media screen and (max-width: 1100px) {
        width: 100%;
      }
    }
  }

  &-logo {
    grid-area: logo;

    img {
      max-width: clamp(480px, 50vw, 960px);
    }
  }
}
