$color_graphite: #292929;
$color_orange: #ff8340;
$color_white: #ffffff;
$color_brown: #843500;
$color_placeholder: #b0b0b0;

$font_size_low: 20px;
$font_size_medium: 45px;
$font_size_big: 80px;

$font_roboto: Roboto-Medium, sans-serif;
$font_arial: Arial-Black, sans-serif;