$color_default: #292929;
$color_hover: #ff8340;
$color_hover_reverse: #ffffff;
$color_active: #843500;

$font_size_low: 20px;
$font_size_medium: 45px;
$font_size_big: 80px;

$font_roboto: Roboto-Medium, sans-serif;
$font_arial: Arial-Black, sans-serif;